@page
@model IndexModel
@{
    ViewData["Title"] = "welcome page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Anup's Website</h1>
    <p> to learn more about <a href="https://www.brainwareuniversity.ac.in/"> BRAINWAREUNIVERSITY </a> PLEASE CLICK HERE. </p>
</div>
